
<!-- Check Items > 0 -->

<div class="container" *ngIf="products.length>0 ">
    
    <!-- Render item1 to itme3   -->
    <div class="row" >
      <div class="col" style="max-height: 500px;">
        <app-product-item [productItem]="products[0]" ></app-product-item>
      </div>
      <div class="col" style="max-height: 500px;">
        <app-product-item [productItem]="products[1]" ></app-product-item>
      </div>
      <div class="col" style="max-height: 500px;">
        <app-product-item [productItem]="products[2]" ></app-product-item>
      </div>
    </div>

    <!-- Check Items > 3 -->

    <!-- Render item4 to itme6   -->
    <div class="row">
      <div class="col" style="max-height: 500px;">
        <app-product-item [productItem]="products[3]" ></app-product-item>
      </div>
      <div class="col" style="max-height: 500px;">
        <app-product-item [productItem]="products[4]" ></app-product-item>
      </div>
      <div class="col" style="max-height: 500px;">
        <app-product-item [productItem]="products[5]" ></app-product-item>
      </div>
    </div>
    
</div>