<mdb-card>
  <mdb-card-body>
  <!--Card image-->
  <mdb-card-img src="{{productItem.image_url}}" alt="Card image cap" id="productImage{{productItem.id}}"></mdb-card-img>
  <!-- <mdb-card-img src="../assets/data/images/image{{productItem.id}}.jpeg" alt="Card image cap"></mdb-card-img> -->

  <!--Card content-->

    <!--Title-->
    <mdb-card-title>
      <h4 id="productName{{productItem.id}}">{{productItem.name}}</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text>
      <span id="productPrice{{productItem.id}}">{{productItem.price}}</span> <span id="productCurrency{{productItem.id}}"> {{productItem.currency}}</span>
    </mdb-card-text>

    <a id="btView{{productItem.id}}" [routerLink]="['/product',productItem.id]" mdbBtn color="primary" mdbWavesEffect>View More</a>
  </mdb-card-body>
</mdb-card>