<mdb-card>
  <mdb-card-body>
  <!--Card image-->
  <mdb-card-img src="{{productItem.image_url}}" alt="Card image cap"></mdb-card-img>
  <!-- <mdb-card-img src="../assets/data/images/image{{productItem.id}}.jpeg" alt="Card image cap"></mdb-card-img> -->

  <!--Card content-->

    <!--Title-->
    <mdb-card-title>
      <h4>{{productItem.name}}</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text>
      {{productItem.price}}
    </mdb-card-text>

    <a href="#" mdbBtn color="primary" mdbWavesEffect>View More</a>
  </mdb-card-body>
</mdb-card>