
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <mdb-navbar-brand>
      <a href="#" class="navbar-brand" id="appTitle">{{title}}</a>
  </mdb-navbar-brand>
  <links>
      <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect>Home <span class="sr-only">(current)</span></a>
          </li>
      </ul>
  </links>
</mdb-navbar>

<!-- Main -->
<div class="container" style="height:60em;margin-top: 5px;">
  <router-outlet></router-outlet>
</div>

<!-- /.Main -->