
<!-- Default form subscription -->
<form class="" #productTemp="ngForm" (ngSubmit)="onSubmit(productTemp)">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 id="productName">{{product.name}}</h3>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col">
                <img id="productImage" src="{{product.image_url}}" class="figure-img img-fluid z-depth-1"
                alt="..." style="width: 400px">
            </div>
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col list-group">
                            <div class="row list-group-item borderIsZero">
                                <span id="labelBrand">Brand</span>
                            </div>
                            <div class="row list-group-item borderIsZero">
                                <span id="labelGender">Gender</span>
                            </div>
                            <div class="row list-group-item borderIsZero">
                                <span id="labelAge">Age</span>
                            </div>
                            <div class="row list-group-item borderIsZero">
                                <span id="labelPrice">Price</span>
                            </div>
                            <div class="row list-group-item borderIsZero">
                                <span id="labelQuantity">Quantity</span>
                            </div>
                        </div>
                        <div class="col col-lg-4 list-group">
                            <div class="row list-group-item borderIsZero">
                                <span id="productBrand">{{product.brand}}</span>
                            </div>
                            <div class="row list-group-item borderIsZero">
                                <span id="productGender">{{product.gender}}</span>
                            </div>
                            <div class="row list-group-item borderIsZero">
                                <span id="productAge">{{product.age}}</span>
                            </div>
                            <div class="row list-group-item borderIsZero">
                                <span id="productPrice">{{product.price}}</span> <span id="productPrice"> {{product.currency}}</span>
                            </div>
                            <div class="row list-group-item borderIsZero">
                            
                                <input mdbInput mdbValidate 
                                    color="info"
                                    block="true"
                                    name="productQuantity" 
                                    type="number" 
                                    id="productQuantity"
                                    [(ngModel)]="quantity" 
                                    #productQuantity="ngModel"
                                    min="1" 
                                    style="width: 100px;">
                                <!-- <label for="form4">min value validator</label>
                                <mdb-error *ngIf="input.invalid && (input.dirty || input.touched)">Input invalid</mdb-error>
                                <mdb-success *ngIf="input.valid && (input.dirty || input.touched)">Input valid</mdb-success> -->
                            
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button mdbBtn size="lg" color="info" type="submit" mdbWavesEffect>Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Default form subscription -->

